@model Library.Models.Carte
<div class="col-lg-4 col-md-6 pb-4 filter">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm p-2" style="border:1px solid #222">
        <div class="card-body p-1 px-3 row d-flex justify-content-center">
            <div class="card-img-top img-fluid d-block mb-3" style="width: 200px; height: 200px; background-size: cover; background-repeat: no-repeat; background-image: url('@ShopConstants.ImagePath.Replace("\\", "/")@Model.Image.Replace("\\", "/")');">
            </div>
            @*<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
            <p> @Model.ShortDesc</p>
            </div>*@
        </div>
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="w-100 ps-2"><label class="float-left">@Model.Name</label></div>
            <div class="w-75 pe-2"><label class="float-right">@Model.Author</label></div>
            <div class="w-100 pe-2"><label class="float-right"><span class="text-info h5">@string.Format("{0}", Model.Price)Lei</span>  </label> </div>
        </div>
    </div>
</div>

